* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #000;
}

/* Modal Styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* Blur effect for background */
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.info {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #333;
}

.message {
  margin: 20px 0;
  font-size: 1rem;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  padding: 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

/* Close button */
.close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #555;
}

.close-button:hover {
  color: red;
}

/* Mobile Styles */

@media (max-width: 480px) {
  /* Additional small-screen adjustments */
  .contact-form {
    padding: 20px;
    border-radius: 8px;
  }

  h2 {
    font-size: 1.4rem;
  }

  .info,
  .message {
    font-size: 0.8rem;
  }

  input,
  button {
    padding: 10px;
    font-size: 0.85rem;
  }

  .close-button {
    font-size: 1.2rem;
  }
}
